{% extends 'base/base.html' %}

{% block content %}
<title>    mhBlogs | Blogs
</title>
<center>
    <h1 class="">{{ post.title }}</h1>

    <small>Posted at {{ post.date }}</small>

    <p><strong>{{ post.intro }}</strong></p>
    <img  class="img-fluid rounded img-thumbnail" src="{{post.img}}" alt="" width="500" >

    <p>{{ post.description }}</p>

    <hr>
</center>
    <h2 class="">Comments</h2>

    {% for comment in post.comments.all %}
        <article class="">
            <div class="">
                <div class="">
                    <p>
                        <strong>{{ comment.name }}</strong> <small>{{ comment.date_added }}</small>
                        <br>
                        {{ comment.body }}
                    </p>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="">
            <p>No comments yet!</p>
        </div>
    {% endfor %}

    <hr>

    <h2 class="subtitle">Add comment</h2>

    <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="">
            <div class="">
                <button class="btn btn-success">Comment</button>
            </div>
        </div>
    </form>
{% endblock %}