{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<!--
{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<br>
<a href="{% url 'post-create' %}">Create a Post</a>
-->
<title>    mhBlogs | Home
</title>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
</head>
<h3>MH Blogs</h3>
<p style="margin-top:-32px;margin-left:130px;">(Write your thoughts)</p>
<hr>
<center>
{% for post in posts %}
    <h3 class="title">{{post.title}}</h3>

<i class="date">Written at {{post.date}}</i><br>

<img class="img-fluid rounded img-thumbnail" src="{{post.img}}" alt="" width="400"> <br>
  <b>{{post.intro}} </b><a href="{% url 'post_detail' post.id %}">(Read more...)</a>
<!--{{post.description}}-->
    <br><i>Written by</i> <a class="link-danger a" href="{% url 'writters' post.user.id %}">{{post.user.first_name }} {{post.user.last_name }}</a>
<br><br>
<hr>


{% endfor %}
    </center>
<div class="background" id="contact">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>US</span>
          </div>
          <div class="app-contact">CONTACT INFO : mehedihasan152201@gmail.com</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="NAME" value="Mehedi Hasan">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="EMAIL">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="CONTACT NO">
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="MESSAGE">
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button">CANCEL</button>
                                <a href="{% url 'posts' %}">
              <button class="app-form-button">SEND</button>
                                    </a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="credits">
      All Right Reserved ©
      <a class="credits-link" href="https://www.facebook.com/huntermehedihasan/" target="_blank">

       Mehedi Hasan
      </a>
    </div>
  </div>
</div>
<hr>
<div id="about" align="center">
    <img src="{% static 'img/mh.jpg' %}" class="mh">
    <br>
    <strong>Mehedi Hasan</strong><br>
    <small>CEO & Developer</small> <br>
  <a href="https://www.facebook.com/huntermehedihasan/">
        <i class="fa fa-facebook"> </i>
  </a>
   <a href="https://www.instagram.com/the_mehedi_hasan/">
        <i class="fa fa-instagram"> </i>
  </a>

</div>
<hr>
<div class="copyright" align="center">Copyright ©Mehedi Hasan - mehedihasan152201@gmail.com</div>
{% endblock content %}