{% extends 'base/base.html' %}
{% block content %}
<img src="ogo.png" alt="">
{% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<br>
<a href="{% url 'profile' %}">{{request.user.first_name}}</a><br>
<a href="{% url 'post-create' %}">Create a Post</a>

<hr>
<h1>Blog Site</h1>
{% for post in posts %}
    <h3>{{post.title}}</h3>
<h4>Posted at {{post.date}}</h4>
<img src="{{post.img}}" alt="" width="200" height="200"> <br>
<b>{{post.intro}}</b><a href="{% url 'post' post.id %}">(Read more...)</a>
<!--{{post.description}}-->
<br>

{% endfor %}
{% endblock content %}